@import url("https://fonts.googleapis.com/css?family=Cabin:400,500");
		body {
  			font: 0.5em Cabin;
  			margin: 1em;
  			background: black;
  			color: white;
		}

		a {
        position: relative;
  			display: inline-block;
  			padding: .25em;
  			text-decoration: none;
  			color: orange;
		}

		.underline {
  			position: absolute;
  			top: 0;
  			left: 0;
  			width: 1px;
  			height: 1px;
  			-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.33, 1.61, 0, 0.83);
  			transition: -webkit-transform 0.5s cubic-bezier(0.33, 1.61, 0, 0.83);
  			transition: transform 0.5s cubic-bezier(0.33, 1.61, 0, 0.83);
  			transition: transform 0.5s cubic-bezier(0.33, 1.61, 0, 0.83), -webkit-transform 0.5s cubic-bezier(0.33, 1.61, 0, 0.83);
		}
		.underline.background {
  		background: orange;
		}
